/* colors */
/* root {
    --BGColor: #ffffff;
    --goldColor: #eaa949;
    --iconBGColor: #cdc8c2;
    --textColor: #000000;
    --StextColor: #45a0eb;
    --sideBGColor: #00000014;
} */

/* Fonts types */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;  */

body {
    font-family: 'Raleway', sans-serif;
    background-color: #cdc8c2;
}

.left-side {
    margin-left: 55px;
}

/* top left bar */
.bars {
    background-color: #ffffff;
    border: 2px solid #cdc8c2;
    border-radius: 15px;
    padding: 10px;
    line-height: 1;
    font-size: small;

}

.owner-pic {
    width: 100px;
    border-radius: 50%;
    padding: 10px;

}

.text-black {
    font-weight: 600;
}


.grey-text {
    color: #cdc8c2;
}

.margin-left {
    margin-left: 150px;
    font-weight: 500;
}

.mr {
    margin-left: 80px;
    font-weight: 500;

}

/* Bottom left bar */

.thick {
    font-weight: 700;
}

.search-pic {
    width: 70px;
    border-radius: 50%;
    padding: 10px;
}

.radius {
    padding: 10px;
    border-radius: 25px;
    border-color: #cdc8c2;
}

.fixed {
    position: fixed;
}

/* The middle part */
.post-pic {
    width: 60px;
    border-radius: 50%;
    padding: 10px;

}

.start-post-radius {
    border-radius: 10px;
}

.small-font {
    font-size: small;
}

.heightd {
    height: 55px;
    border-bottom: 1px solid #cdc8c2;
}

.line-h {
    line-height: 3px;
}

.floatp {
    float: left;
}

.py-4.px-4 {
    display: flex;
    justify-content: space-between;
}

/* right part */
.half-lh {
    line-height: 0.5;

}

.follow-btn {
    border-radius: 20px;
    border: 2px solid gray;
    background-color: #ffffff;
    font-weight: 600;
    color: grey;
}

.plus {
    height: 0px;
}

.recommendation {
    margin-top: 30px;
    font-weight: 600;
}

.linkedin-pic {
    width: 100px;
    padding: 10px;
}

.Try-for-free-btn {
    border-radius: 20px;
    border: 2px solid #0a66c2;
    font-weight: 600;
    color: #0a66c2;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: large;
    margin-left: 80px;
}


/* Navbar */
.linkedin-2{
    width: 45px;
    border: none;
    margin-left: 90px;
}

.search-box{
 width: 400px;
 background-color:#eef3f8 ;
}

.nav-pic {
    width: 25px;
    border-radius: 50%;
    
}

.nav-pic-border{
    border-right: 1px solid  #cdc8c2;
}

.navbar-right-margin{
    margin-right: 100px;
}

.navbar-bmargin{
    margin-top: 90px;
}

.small-font.text-center{
    color: #00000099;
}

.last-90{
    font-size: 15px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.6rem 1.8rem;
    line-height: 2;
    
}


.fixed-div{
    position: relative;
    
}

.item-adj{
    padding: 0 16px;
}

.photos-p{
    margin-left: 24px;
}

@media (max-width:780px){
    .linkedin-2{
        margin-left: 25px;
    }

    .search-box{
        width: 170px;
    }

    .left-side{
        margin-left: 0;
    }

    .Try-for-free-btn{
        margin-left: 30px;
    }

    .item-adj{
        padding: 0 6px;
        font-size: small;
    }

    .photos-p{
        margin-left: 0;
        
    }
}

/* @media (min-width: 1024px) {
    .fixed-div.fixed {
      position: fixed;
      top: 0;
      left: 55px;
      width: ;
      z-index: 999;
    }
  } */

  